<html>
  <head>
    <title>Contact</title>
  </head>
  <body>

<h1>TheGossipProject#contact</h1><br/>

<ul>
		<li>Fleur: fleur@thp.com</li>
		<li>Jonas: jonas@thp.com</li>
		<li>Mathieu: mat@thp.com</li>
	</ul>

  </body>
</html>